<div class="post">
  <h1 class="title">
      {{#if title}}{{title}}{{/if}}
  </h1>
</div>
<div class="post main-text">
  <p>
    {{#if body}}{{body}}{{/if}}
  </p>
  <h3>
    {{#if username}}{{username}}{{/if}}
  </h3>
</div>
