<div class='title'>
  <h2>
    {{#if title}}
      {{title}}
    {{/if}}
    </h2>
</div>
<div class='main-text'>
<p>
  {{#if body}}
    {{body}}
  {{/if}}
</p>
<h3>
  {{#if username}}
    {{username}}
  {{/if}}
</h3>
</div>
