<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form class='login-form' action='/login' method='POST'>
    Username:
    <input type='text' name='username' placeholder='Username' required><br>
    Password:
    <input type='password' name='password' placeholder='Password' required><br>
    <input type='submit' value='submit'>
  </form>

  <a href='/'>I have to log in? nah take me home</a>
</body>
</html>
