<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Welcome {{credentials.username}}!</h1>

<a href='/'>I, {{credentials.username}}, want to go back to the home page</a>

<form action='/logout' method='GET'>
    <button type='submit'>logout</button>
</form>
</body>
</html>
